@{
    ViewBag.Title = "Home Page";
    Layout = "_Layout";
}
<div class="row">
<div>
    <h1>Welcolme to the The Worlds</h1>
    <p>This app will allow you to plan for world trips</p>
    <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View My Trips</a>
</div>

</div>
